[mysqld]
user                   = gitpod
pid-file               = /var/run/mysqld/mysqld.pid
socket                 = /var/run/mysqld/mysqld.sock
port                   = 3306
datadir                = /workspace/shopware/etc/mysql/data

connect_timeout        = 60

tmpdir                 = /tmp
bind-address           = 127.0.0.1

key_buffer_size        = 16M
max_allowed_packet     = 128M
thread_stack           = 1M

thread_cache_size      = 8

myisam-recover-options = BACKUP

general_log_file       = /workspace/shopware/etc/mysql/logs/mysql.log
general_log            = 1
log_error              = /workspace/shopware/etc/mysql/logs/error.log
